PORT=5000
MONGODB_URI=
JWT_SECRET=dgdf_dev_secret_change_me
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYSTACK_SECRET_KEY=
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:5173
